[phreeqc]
#Please specify the path the database you wish to use.
#If your database is in the current working directory you can specify the path
#relative to the current directory e.g. if your database is my_custom_database.dat
#you can just put database=my_custom_database.dat
database= C:\Program Files\USGS\IPhreeqcCOM 3.3.12-12704\database\phreeqc.dat
#To specify equilibrium phases list all sets in the format ["name", Sat. index, amount(moles)] wrapped in square brackets.
#If you wish to specify more than one separate each one by commas.
#E.g. [["Name", 0, 10], ["gypsum",0,0]]
equilibrium_phases= [["Gypsum",0,0]]
pH= 7
pe= 4
redox= 'pe'
temp= 0
charge=

[GoldSim]
#Please list the elements from GoldSim in the order they are listed in the GoldSim Vector
#Template: elements=["element_1","element_2",...]
elements= ["Al", "Ca", "Mg", "Na", "pH", "S04", "Cl", "Br"]

[GoldQC]
log_file= GoldQC.log
#debug_level can be 0, minimal log; 1, log input and output only; 2, log input output and phreeqc string
debug_level= 2
suppress_warnings = False